<section class="about ">
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-lg-5 d-flex ">
                <img [src]="aboutData.image" class="img-fluid" alt="">
            </div>

            <div class="col-lg-7">
              <h2 [innerHTML]="aboutData.title"></h2>
                <p [innerHTML]="aboutData.description"> </p>
                <button  href=""  class="btn-rounded btn mt-4"> Download Resume</button>
            </div>
        </div>
    </div>
</section>

